/* Anasse NAJI */
*{font-family: sans-serif;}
body{
    margin: 0;
    padding: 0;
    background: rgb(28, 37, 85);
    min-height: 100%;
    box-sizing: content-box;
   /* transition: background 1s ease-in-out;*/
}
.container{
    background: rgb(202, 203, 207);
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /*border: 1px solid white;*/
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px 20px;
    width: 50%;
    height: 400px;
    box-shadow: 1px 2px 5px gray;
}
.container h2 ,p ,img{
    display: block;
    text-align: center;
}
.container img{margin: 0 auto;padding: 15px;}
.container .form{
    padding: 12px;
    margin: 5px auto;
    /* Display */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    overflow: hidden
}
.container .form input{
    margin: auto;
    padding: 10px;
/*    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;*/
    width: 400px;
}

.container .form .button{
    display: inline-block;
    padding: 20px 10px;
    margin: auto;
}
.container .form .button button{
    width: 200px;
    height: 40px;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    font-weight: bolder;
}
.container .form .button #signin{
    background: rgba(228, 55, 32, 0.829);
    color: white;
}
.container .form .button #signin:hover{
    background: rgba(228, 55, 32, 0.925);
    transition: background 0.1s ease-in-out;
}
.container .form .button #login{
    background: rgba(45, 20, 185, 0.753);
    color: white;
}
.container .form .button #login:hover{
    background: rgba(44, 19, 184, 0.884);
    transition: background 0.1s ease-in-out;
}
